#root{
    min-height: 100vh;
    background: linear-gradient(210deg, rgba(213, 164, 162, 1.000) 0.000%, rgba(213, 165, 161, 1.000) 7.143%, rgba(213, 165, 157, 1.000) 14.286%, rgba(213, 166, 151, 1.000) 21.429%, rgba(213, 166, 142, 1.000) 28.571%, rgba(213, 167, 131, 1.000) 35.714%, rgba(213, 167, 118, 1.000) 42.857%, rgba(213, 168, 104, 1.000) 50.000%, rgba(213, 168, 88, 1.000) 57.143%, rgba(213, 168, 70, 1.000) 64.286%, rgba(213, 169, 53, 1.000) 71.429%, rgba(213, 169, 34, 1.000) 78.571%, rgba(213, 170, 16, 1.000) 85.714%, rgba(213, 170, 0, 1.000) 92.857%, rgba(213, 170, 0, 1.000) 100.000%)
}

.foto{
  width: 100px;
  height: 100px;
  object-fit: cover;
}


